* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.title {
    font-size: 4rem; /* Большой размер текста */
    color: #2c3e50; /* Цвет текста */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень текста */
    transition: transform 0.3s, color 0.3s; /* Плавный переход для эффектов */
}

.title:hover {
    transform: scale(1.1); /* Увеличение при наведении */
    color: #e74c3c; /* Изменение цвета при наведении */
}

.telegram-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem; /* Размер текста ссылки */
    color: #ffffff; /* Цвет текста ссылки */
    background-color: #0088cc; /* Цвет фона ссылки */
    border-radius: 5px; /* Скругление углов */
    text-decoration: none; /* Убираем подчеркивание */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Тень для кнопки */
    transition: background-color 0.3s, transform 0.3s; /* Плавный переход для эффектов */
}

.telegram-link:hover {
    background-color: #005f8a; /* Изменение цвета фона при наведении */
    transform: scale(1.05); /* Увеличение при наведении */
}

@media (max-width: 768px) {
    .title {
        font-size: 3rem; /* Уменьшение размера текста на мобильных устройствах */
    }

    .telegram-link {
        font-size: 1.2rem; /* Уменьшение размера текста ссылки на мобильных устройствах */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2.5rem; /* Еще большее уменьшение размера текста на маленьких экранах */
    }

    .telegram-link {
        font-size: 1rem; /* Уменьшение размера текста ссылки на маленьких экранах */
    }
}